<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>CreateDate</th>
      <th>Task Count</th>
      <th></th>
    </tr>
  </thead>
  <tr *ngFor="let todo of ToDoList">
    <td>{{todo.id}}</td>
    <td><a style="width: 200px;font-weight: bolder;" routerLink="/task/{{todo.id}}">{{todo.name}}</a></td>
    <td>{{todo.createDate | date : 'MMM d, y, h:mm:ss a'}}</td>
    <td>{{todo.tasks.length}}</td>
    <td>
      <img src="assets/Images/Details.png" routerLink="/task/{{todo.id}}" style="height: 40px; padding-right: 10px;">
      <img src="assets/Images/Delete.png" (click)="onDelete(todo.id)" style="height: 50px;">
    </td>
  </tr>
</table>
<hr/>
<h3>Add New ToDo List</h3>
<form (ngSubmit)="onSubmit(Form)" #Form="ngForm">
  <div class="form-group col-12">
    <label for="name">Name</label>
    <input type="text" class="form-control" ngModel name="name">
  </div>
  <div class="form-group col-12">
    <button type="submit" class="btn btn-primary mr-2">Save</button>
  </div>
</form>
